<div class="container">
  <div class = "nav-bar">
    <a class= "button about-us" href="">
      <div class= "nav-button">
        <p class= "invisible-nav-item nav-item-we">who</p>
        <p class= "visible-nav-item">We</p>
        <p class="invisible-nav-item nav-item-we">are</p>
      </div>
    </a>

    <a class= "button contact" href="">
      <div class= "nav-button">
        <p class= "invisible-nav-item nav-item-get">how to</p>
        <p class= "visible-nav-item">Get</p>
        <p class="invisible-nav-item nav-item-get">in touch</p>
      </div>
    </a>

    <div class= "logo"> <h3 class= "logo-number">593</h3> <h1 class= "logo-k">Kollektiv</h1></div>

    <a class= "button examples" href="">
      <div class= "nav-button">
        <p class= "invisible-nav-item nav-item-things">beautiful</p>
        <p class= "visible-nav-item">Things</p>
        <p class="invisible-nav-item nav-item-things">to inspire</p>
      </div>
    </a>

    <a class= "button portfolio" href="">
      <div class= "nav-button">
        <p class= "invisible-nav-item nav-item-done">projects</p>
        <p class= "visible-nav-item">Done</p>
        <p class="invisible-nav-item nav-item-done">so far</p>
      </div>
    </a>
  </div>

  <div class= "placeholder"> what</div>
  <div class= "about-us-grid">
    <div class= "about-us-grid-item">
      <%= image_tag "Dan.jpg", class:"about-us-image" %>
      <div class= "about-us-name-container"> <p class= "about-us-name-1">D</p><p class= "about-us-name-2">A</p> <p class= "about-us-name-3">N</p></div>
      <p class= "about-us-expand"><-></p>
    </div>
    <div class= "about-us-grid-item">
      <%= image_tag "Francesca.jpg", class:"about-us-image" %>
      <div class= "about-us-name-container"> <p class= "about-us-name-1">F</p><p class= "about-us-name-2">R</p> <p class= "about-us-name-3">A</p> <p class= "about-us-name-4">N</p> <p class= "about-us-name-5">C</p> <p class= "about-us-name-6">E</p> <p class= "about-us-name-7">S</p> <p class= "about-us-name-8">C</p> <p class= "about-us-name-9">A</p></div>
      <p class= "about-us-expand"><-></p>
    </div>
    <div class= "about-us-grid-item">
      <%= image_tag "Lisa.jpg", class:"about-us-image" %>
       <div class= "about-us-name-container"> <p class= "about-us-name-1">L</p><p class= "about-us-name-2">I</p> <p class= "about-us-name-3">S</p> <p class= "about-us-name-4">A</p> </div>
      <p class= "about-us-expand"><-></p>
    </div>
    <div class= "about-us-grid-item">
      <%= image_tag "Lucas.jpg", class:"about-us-image" %>
       <div class= "about-us-name-container"> <p class= "about-us-name-1">L</p><p class= "about-us-name-2">U</p> <p class= "about-us-name-3">C</p> <p class= "about-us-name-4">A</p> <p class= "about-us-name-5">S</p></div>
      <p class= "about-us-expand"><-></p>
    </div>
    <div class= "about-us-grid-item">
    <%= image_tag "Tim.jpg", class:"about-us-image" %>
          <div class= "about-us-name-container"> <p class= "about-us-name-1">T</p><p class= "about-us-name-2">I</p> <p class= "about-us-name-3">M</p></div>
      <p class= "about-us-expand"><-></p>
    </div>
  </div>
</div>